.hero-image {
  background-image: url("../../assets/ple-hero-home.jpg"); 
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 75vh;
  border-radius: 3px;
  position: relative;
}

.hero-overlay {
  position: absolute;
  background: 
    linear-gradient(rgba(247, 167, 167, 0.50) 25%, rgba(247, 167, 167, 0.325) 50%, rgba(247, 167, 167, 0.25) 75%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.hero-inner {
  position: absolute;
  z-index: 2;
  bottom: 2%;
  right: 1%;
  border-radius: 20px;
  padding: 0.4rem;
  background-color: rgba(247, 167, 167);
  color: #fff;
  /* font-size: 1.5rem; */
}

.hero13-kicker{
  letter-spacing: 0.12em;
  text-transform: uppercase;
  /* font-weight: 800; */
}

.button-nvm-blue {
  border: 0.2px solid rgba(247, 167, 167);
  border-radius: 20px !important;
  background-color: #203080;
  color: rgba(247, 167, 167);
  /* font-size: 1rem;
  font-weight: 600; */
}

.button-nvm-blue:hover {
  border: 0.2px solid #203080 !important;
  background-color: #203080 !important;
  color: #fff;
}

.bricks-wobble {
  background-image: url("../../assets/bricks-wobble.png");
  height: 52px; /* desktop */
  width: auto;
  display: block !important;
}