.hero-image {
  background-image: url("../../assets/fotositouno.jpg"); /* <-- tua immagine */
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  height: 65vh;
  border-radius: 3px;
  margin-top: 8rem;
}

.hero-overlay {
  position: absolute;
  background: 
    linear-gradient(rgba(247, 167, 167, 0.50) 25%, rgba(247, 167, 167, 0.325) 50%, rgba(247, 167, 167, 0.25) 75%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.hero-inner {
  position: absolute;
  z-index: 2;
  bottom: 2%;
  right: 1%;
  border-radius: 20px;
  border: 1px solid #203080;
  padding: 0.4rem;
  background-color: rgba(247, 167, 167);
}

.head-one {
  font-size: 1.28rem;
  font-weight: 500;
  color: #fff;
  opacity: 0.75;
  text-align: right;
}

.hero-kicker {
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-size: 0.78rem;
}

.hero-subtitle {
  font-size: 0.98rem;
  text-align: center;
  color: #203080;
  opacity: 0.85;
  font-weight: 800;
}

.button-nvm-blue {
    border: 0.2px solid  rgba(247, 167, 167);
    border-radius: 20px !important;
    background-color: #203080;
    color:  rgba(247, 167, 167); 
    font-size: 1rem;
    font-weight: 600;
}

.button-nvm-blue:hover {
    border: 0.2px solid #203080 !important; 
    background-color: #203080 !important; 
    color: #fff; 
}