.hero-image {
  margin-left: 5%;
  margin-right: 5%;
  background-image: url("../../assets/fotositouno.jpg"); /* <-- tua immagine */
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  height: 65vh;
  margin-top: 4rem;
}

.hero-overlay {
  position: absolute;
  background: 
    linear-gradient(90deg, rgb(247, 167, 167) 0%, rgba(247, 167, 167, 0.50) 25%, rgba(247, 167, 167, 0.325) 25%, rgba(247, 167, 167, 0.25) 75%, rgba(247, 167, 167, 0.125) 100%);
  height: 100%;
  width: 100%;
}

.hero-inner {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}